<ActionBar title="List Swipe to Reveal Button Options"></ActionBar>

<StackLayout class="p-10">
  <Button
    text="List with 3 Revealing Buttons"
    (tap)="view(1)"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-4 rounded"
  ></Button>
  <Button
    text="List with 2 Revealing Buttons"
    (tap)="view(2)"
    class="
      bg-blue-500
      hover:bg-blue-700
      text-white
      font-bold
      py-4
      px-4
      rounded
      mt-5
    "
  ></Button>
  <Button
    text="List with 1 Revealing Button"
    (tap)="view(3)"
    class="
      bg-blue-500
      hover:bg-blue-700
      text-white
      font-bold
      py-4
      px-4
      rounded
      mt-5
    "
  ></Button>
</StackLayout>
