<ActionBar title="List with 3 Revealing Buttons"> </ActionBar>

<RadListView
  [items]="items"
  [itemTemplateSelector]="templateSelector"
  [swipeActions]="true"
  (itemSwipeProgressStarted)="
    swipeCellService.onSwipeCellStarted($event, swipeBtnTotal)
  "
  (itemSwipeProgressChanged)="swipeCellService.onSwipeCellChanged($event)"
  (itemSwipeProgressEnded)="swipeCellService.onSwipeCellFinished($event)"
  (itemTap)="itemTap($event)"
  (loaded)="loaded($event)"
>
  <ng-template tkTemplateKey="mainRow" let-item="item">
    <StackLayout
      class="
        p-5
        text-lg text-gray-700
        align-middle
        bg-white
        border-b border-gray-300
      "
    >
      <Label [text]="item?.name"></Label>
    </StackLayout>
  </ng-template>

  <ng-template tkListItemSwipeTemplate>
    <StackLayout class="bg-black">
      <ns-listview-row-swipe></ns-listview-row-swipe>
    </StackLayout>
  </ng-template>
</RadListView>
